<div style="margin-top: 60px;background-color: purple;"></div>
<div style="display:flex;width: 100%;height: 80px;">
    <div style="flex:1;align-items: center;justify-content: start;padding-top: 25px;">
        <b style="font-size: 25px;color: black;padding-left: 30px;">Hii {{comapnyName}}</b>
    </div>
    <div style="flex:1;">
        <div style="display:flex;align-items: center;justify-content:end;padding-top: 25px;">
            <p style="font-size: 14px;color: black;padding-right: 30px;margin-bottom:0px;">Showing Data From  {{startData}} - {{endData}}</p>
            <div style="padding-right: 30px;">datechanger</div>
        </div>
    </div>
</div>

<div style="display:flex;width: 100%;height: 100%;">
    <div style="flex:1;">
        <div style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;">
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">Total Revenue</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{totalRevenues}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{revenuePercentChange}} %</p>
            </div>
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">Nett Revenue</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{netRevenues}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{netRevenuePercentChange}} %</p>
            </div>
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">Gross Revenue</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{grossRevenues}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{grossRevenuePercentChange}} %</p>
            </div>
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">Total Expenses</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{totalExpenses}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{expensePercentChange}} %</p>
            </div>
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">COGS</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{cogs}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{cogsPercentChange}} %</p>
            </div>
            <div style="height:200px;width:300px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;display:flex;justify-content: center;align-items: center;flex-direction: column;">
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-bottom:25px;font-weight: bold;">OPEX</p>
                <p style="font-size: 30px;font-weight:bold;font-family:Arial, Helvetica, sans-serif">{{opex}} {{currentCurrency}}</p>
                <p style="font-size: 16px;font-family:Arial, Helvetica, sans-serif;padding-top:15px">{{opexPercentChange}} %</p>
            </div>
        </div>
    </div>
    <div style="flex:1;">
        <div style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;">
            <div style="height:400px;width:600px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;">I am the card</div>
            <div style="height:400px;width:600px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;">I am the card</div>
            <div style="height:400px;width:600px;background-color: rgb(213, 213, 213);margin: 20px;border-radius: 25px;">I am the card</div>
        </div>
    </div>
</div>
