<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div style="flex:3">
    <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Codat API Test App</span>
  </div>
 
  <div style="flex:1">
    <div style="display:flex;">
      <span routerLink="" style="flex:1">Home</span>
      <span routerLink="pnl" style="flex:1">PNL</span>
      <span routerLink="testpnl" style="flex:1">PNL 2</span>
    </div>
 
  </div>
 
</div>
<router-outlet></router-outlet>
<!-- <div class="content" role="main">
  <ul>
    <li style="font-size:large" *ngFor="let book of response;let indexOfelement=index;">
      Net assets i have on : {{book.date}} are :  {{book.netAssets}} 
    </li>
</ul>
<ul>
  <li style="font-size:large" *ngFor="let book of response;let indexOfelement=index;">
    <p *ngFor="let asset of book.assets.items;let myindex=index;" style="font-size: 20;color:green;font-family: 'Courier New', Courier, monospace;"> 
        {{asset.items[myindex] | json}}
    </p>
  </li>
</ul>
<p style="font-size: 20;">{{earningInvoices | json}}</p>
<div style="font-size: 20px;margin: 20px;"><p>{{bankStatements | json}}</p></div>
</div> -->


