<!-- Toolbar -->
<div class="toolbar" role="banner" style="background-color: rgb(156, 209, 255);">
  <div style="flex:3;">
    <img
    width="200"
    alt="Finanshels"
    src="https://uploads-ssl.webflow.com/634fc8d084a32a7597b0bde8/63750666a7ae3904f2f87861_Finanshels%20Main%20Logo.svg"
  />

  </div>
 
  <div style="flex:1">
    <div style="display:flex;">
      <span routerLink="dashboard" style="flex:1;margin-top: 10px;justify-content: center;align-content: center;color: black;"></span>
      <button mat-raised-button color="warn" (click)="logoutApp()" style="margin-right:45px">Logout</button>
    </div>
 
  </div>
 
</div>
<router-outlet></router-outlet>
<!-- <div class="content" role="main">
  <ul>
    <li style="font-size:large" *ngFor="let book of response;let indexOfelement=index;">
      Net assets i have on : {{book.date}} are :  {{book.netAssets}} 
    </li>
</ul>
<ul>
  <li style="font-size:large" *ngFor="let book of response;let indexOfelement=index;">
    <p *ngFor="let asset of book.assets.items;let myindex=index;" style="font-size: 20;color:green;font-family: 'Courier New', Courier, monospace;"> 
        {{asset.items[myindex] | json}}
    </p>
  </li>
</ul>
<p style="font-size: 20;">{{earningInvoices | json}}</p>
<div style="font-size: 20px;margin: 20px;"><p>{{bankStatements | json}}</p></div>
</div> -->


